.Mainboard {
    display: grid;
    grid-area: Mainboard;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    height: 420px;
    max-height: 420px;
    /* min-height: 290px; */
}

@media (max-width: 599px){
    .Mainboard{
        height: 283px;
        max-height: 283px;
    }
    
}

@media (max-width: 399px){
   .Mainboard{
    height: 270px;
   } 
}