/* .Rightbar {
    display: grid;
    grid-area: Rightbar;
    grid-template-areas: 'Diggable''Health''Shuffle';
    grid-template-rows: .3fr .5fr .5fr;
    box-sizing: border-box;
    border-left: 2px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
} */
