.Layout {
    display: grid;
    height: 100vh;
    width: 100vw; 
    grid-template-areas:'Header''Body''Footer';
    grid-template-rows: 60px 1fr 50px;
    background: url('../HOCs//images/PopImages/background.png');
    background-repeat: repeat;
    background-size: inherit;
    background-color: #c2612e ;
}

/* @media (min-screen: 400px){
    .Layout {
        height: 91vh;
    }
} */